.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: max-content;
    min-height: 25rem;
    background-color: #7AD2A2;
    color:#303030;
    opacity: 0.8;
    border-radius: 1.875rem;
    box-shadow: 0 0.2rem 1rem #5553;
    padding: 1.5rem;
    margin-top: 10%;
}

.name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.description {
    display: flex; 
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0.5rem;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}

li {
    background-color: #3F2D7A;
    color: #f9f9f9;
    border-radius: 0.75rem;
    padding: 1.25rem 0.75rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.031rem;
    padding: 0.75rem;
    white-space: nowrap;
}

li:nth-child(2){
    background-color: #68216A;
}

.temperature {
    text-align: center;
    font-size: 1.75rem;
}

header {
    border: 0.125rem #fff solid;
    display: flex; 
    justify-content: space-between;
    border-radius: 1.875rem;
}

header input{
    width: 16rem;
    letter-spacing: 0.125rem;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

header input::placeholder{
    font-size: 0.75rem;
    letter-spacing: 0.013rem;
    color: darkolivegreen;
}

header input, form button {
    border: none; 
    background-color: transparent;
    outline: none;
    padding: 0.625rem;
    cursor: pointer;
}

header i {
    opacity: 0.9;
}